<div class="card">
  <div id="carousel-{{product.id}}" class="carousel slide pointer-event" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let img of product.imgUrlList; let isFirst = first" class="carousel-item {{isFirst ? 'active' : ''}}">
        <img [src]="img" class="d-block w-100 m-1" [alt]="product.name" [routerLink]="[ '/products/', product.id]">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel-'+product.id" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel-'+product.id" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="card-body" [routerLink]="[ '/products/', product.id]">
    <h5 class="card-title">{{ product.name }}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.trademark }}</h6>
    <p class="card-text">{{ product.description }}</p>
    <span><strong>{{ product.price | currency }}</strong></span>
  </div>
  <div class="card-body">
    <button class="btn btn-primary w-100"><i class="bi-cart-plus"></i></button>
  </div>

</div>
